<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="calendarMapper">

<insert id="insertSchedule" parameterType="com.shopping.calendar.ScheduleVO">
	<![CDATA[
		insert into calendar values(
		#{schdul_id}, 
		#{schdul_title}, 
		#{schdul_content}, 
		#{schdul_place}, 
		#{schdul_registant_name}, 
		#{schdul_alarm}, 
		#{schdul_sel}, 
		#{schdul_date}, 
		#{schdul_bgnDeHH}, 
		#{schdul_bgnDeMM}, 
		#{schdul_endDeHH}, 
		#{schdul_endDeMM},
		"N");
	 ]]>
</insert>

<select id="selectSchedule" parameterType="com.shopping.calendar.CalendarVO" resultType="com.shopping.calendar.ScheduleVO">
<![CDATA[
	select * from calendar where schdul_date like '${currentDate}%';
]]>
</select>

<select id="selectScheduleOne" parameterType="map" resultType="com.shopping.calendar.ScheduleVO">
	select * from calendar where schdul_registant_name = #{userId} 
	and schdul_date = #{date}
	and schdul_bgnDeHH = #{timeHH} 
	and schdul_bgnDeMM = #{timeMM} 
	and schdul_alarm = "Y" 
	and schdul_chk = "N"
</select>

<update id="updateSchdulChk" parameterType="com.shopping.calendar.ScheduleVO">
	update calendar set schdul_chk = "Y" 
	where schdul_registant_name = #{schdul_registant_name} 
	and schdul_date = #{schdul_date} 
	and schdul_bgnDeHH = #{schdul_bgnDeHH} 
	and schdul_bgnDeMM = #{schdul_bgnDeMM} 
	and schdul_chk = "N"
</update>

</mapper>