<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">
	
	<resultMap id="Product" type="com.shopping.manclothes.ProductVO">
		<result property="objUuid" column="obj_uuid"/>
		<result property="objName" column="obj_name"/>
		<result property="objSize" column="obj_size"/>
		<result property="objColor" column="obj_color"/>
		<result property="objAmount" column="obj_amount"/>
		<result property="objPrice" column="obj_price"/>
		<result property="userCode" column="usercode"/>
	</resultMap>
	
    <select id="selectProductList" parameterType="map" resultMap="Product">
        SELECT * FROM product
        <if test="searchOption == 1">
        	WHERE obj_name LIKE '%${search}%'
    	</if>
    	<if test="searchOption == 2">
        	WHERE obj_size LIKE '%${search}%'
    	</if>
    	<if test="searchOption == 3">
        	WHERE obj_amount LIKE '%${search}%'
    	</if>
    	limit #{startIndex}, #{pageSize}
    </select>
    
    <select id="selectProductListCnt" parameterType="map" resultType="int">
        SELECT count(*) FROM product
        <if test="searchOption == 1">
        	WHERE obj_name LIKE '%${search}%'
    	</if>
    	<if test="searchOption == 2">
        	WHERE obj_size LIKE '%${search}%'
    	</if>
    	<if test="searchOption == 3">
        	WHERE obj_amount LIKE '%${search}%'
    	</if>
    </select>
    
    <select id="selectProduct" parameterType="com.shopping.manclothes.ProductVO" resultMap="Product">
    <![CDATA[
        SELECT * FROM product WHERE obj_uuid = #{objUuid}
    ]]>
    </select>
    
    <insert id="insertManBoard" parameterType="com.shopping.manclothes.ProductBoardVO">

	insert into product_board(board_manager_seq, board_title, board_content, img_path, img_name, img_size, img_type, usercode, obj_uuid, obj_name, obj_size, obj_color, obj_amount) values(
		(select board_manager_seq from board_manager where board_name = '남성 의류'),
	    #{board_title},
	    #{board_content},
	    #{img_path},
	    #{img_name},
	    #{img_size},
	    #{img_type},
	    #{userCode},
	    #{objUuid},
	    #{objName},
	    #{objSize},
	    #{objColor},
	    #{objAmount}
	);
    </insert>
    
</mapper>